html
	body
		center
			h1 Management Login
			p
				form(action="/admin_home" method="post")
					label ID
					input(type="text" name="aid")
					label Password
					input(type="password" name="pass")
					input(type="submit")