html
	body
		input(type="submit" value ="Home" onclick="window.location='/admin_home';")
		center
			h1 Edit a course
			p Choose the desired selection
			p
				input(type="submit" value ="Change Course Status" onclick="window.location='/edit_stat';")
				input(type="submit" value ="Edit Course Details" onclick="window.location='/edit_det';")