html
	body
		center
			h1 Management Home Page
			p
				input(type="submit" value ="Add a new course" onclick="window.location='/add';")
				input(type="submit" value ="Delete a course" onclick="window.location='/delete';")
				br
				input(type="submit" value ="View all courses" onclick="window.location='/view_all';")
				input(type="submit" value ="Edit an existing course" onclick="window.location='/edit';")