html
	body
		center
			h1 Welcome to XYZ University Portal
			p
				input(type="submit" value ="Mangement Login" onclick="window.location='/admin_log';")
				input(type="submit" value ="Student Login" onclick="window.location='/stud_log';")