html
	body
		center
			h1 Student Login Page
			form(action="/stud_home" method="post")
				label ID
				input(type="text" name="sid")
				label Password
				input(type="password" name="pass")
				input(type="submit")