html
	body
		center
			h1 Welcome #{StName}
			p
				input(type="submit" value ="Enroll in a course" onclick="window.location='/enroll';")
				input(type="submit" value ="Unenroll out of a course" onclick="window.location='/unenroll';")
				br
				input(type="submit" value ="View your courses" onclick="window.location='/view';")